/*Colors*/
/* Typography */
header {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  background: #ffffff;
  z-index: 2;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px; }
  header .menuBtn {
    display: none; }
  header ul {
    margin: 0; }
    header ul li {
      display: inline-block;
      margin-right: 20px; }
      header ul li a:hover:after,
      header ul li a:focus:after {
        width: 100%;
        left: 0; }
      header ul li a {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #000000;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        position: relative; }
        header ul li a::after {
          content: "";
          width: 0;
          height: 1px;
          background: #000000;
          position: absolute;
          left: 50%;
          bottom: -5px;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          transition: all 0.4s ease; }
      header ul li:last-child {
        margin-right: 0; }
  header .btn {
    background: #FFFCFA;
    border: 1px solid #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #221F20;
    padding-left: 16px;
    height: 36px;
    display: flex;
    align-items: center; }
    header .btn:hover .btn-arrow {
      margin-right: 15px;
      margin-left: 18px;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    header .btn .btn-arrow {
      background: url("/images/arrow.svg") no-repeat center left;
      background-size: 100%;
      width: 18px;
      height: 14px;
      margin-right: 10px;
      margin-left: 16px;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }

main .hero_section {
  position: relative; }
  main .hero_section .pagingInfo {
    position: absolute;
    bottom: 127px;
    color: #EEF4F9;
    left: 306px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    main .hero_section .pagingInfo span {
      font-weight: 400;
      font-size: 16px;
      line-height: 110%;
      color: #EEF4F9; }
    main .hero_section .pagingInfo .slideNumber {
      animation-name: fadeInUpSD;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      opacity: 1; }
    main .hero_section .pagingInfo .line {
      height: 1px;
      background: #EEF4F9;
      width: 103px;
      display: block;
      margin: 0 17px; }
main .hero_slider .slick-slide {
  overflow: hidden; }
main .hero_slider .slick-next {
  position: absolute;
  bottom: 67px;
  left: 135px;
  background: transparent;
  border: 1px solid rgba(238, 244, 249, 0.3);
  padding: 20px;
  width: 138px;
  height: 138px; }
  main .hero_slider .slick-next .next-slick-img {
    overflow: hidden; }
    main .hero_slider .slick-next .next-slick-img img {
      animation: sliderMove 15s linear infinite; }
  main .hero_slider .slick-next span {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #EEF4F9;
    z-index: 9; }
  main .hero_slider .slick-next .thumb {
    height: 100%;
    object-fit: cover; }
  main .hero_slider .slick-next .slick-thumb-nav {
    width: 95px;
    height: 95px; }
main .hero_slider .progressBar {
  height: 148px;
  width: 148px;
  position: absolute;
  z-index: 0;
  bottom: -6px;
  left: -5.5px;
  background: linear-gradient(to right, #EEF4F9 99.99%, transparent), linear-gradient(to bottom, #EEF4F9 99.99%, transparent), linear-gradient(to right, #EEF4F9 99.99%, transparent), linear-gradient(to bottom, #EEF4F9 99.99%, transparent);
  background-size: 100% 8px, 8px 100%, 100% 8px, 8px 100%;
  background-repeat: no-repeat;
  animation: progress 4s linear forwards;
  background-position: -148px 0px, 140px -148px, 148px 140px, 0px 148px; }
main .hero_slider .hero-image {
  width: 100%;
  height: 900px;
  object-fit: cover; }
main .hero_slider .slick-active img {
  animation: sliderMove 25s linear infinite; }
main .hero_slider .slick-active .slider-content {
  animation-name: fadeInUpSD;
  animation-duration: 1s;
  opacity: 1; }
main .hero_slider .slider-content {
  position: absolute;
  bottom: 42%;
  margin-left: 135px;
  overflow: hidden; }
  main .hero_slider .slider-content h3 {
    font-size: 16px;
    line-height: 150%;
    color: #EEF4F9;
    font-weight: 400;
    margin: 0; }
  main .hero_slider .slider-content h2 {
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    text-transform: capitalize;
    color: #EEF4F9;
    margin: 24px 0 0 0; }
main .products {
  background: url("/images/art.svg") center top no-repeat; }
  main .products h1 {
    font-weight: 400;
    font-size: 56px;
    line-height: 129%;
    text-align: center;
    letter-spacing: -1px;
    color: #000000;
    padding: 130px 0 60px 0;
    margin: 40px 0 0 0; }
  main .products p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #7A7777;
    width: 748px;
    margin: 0 auto;
    padding-bottom: 100px; }
  main .products .products-items {
    width: 100%;
    height: 100%;
    padding-bottom: 45px; }
    main .products .products-items .slide-image {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      main .products .products-items .slide-image img {
        margin-top: 50px;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover; }
      main .products .products-items .slide-image.swiper-slide-next img {
        transform: rotate(9.5deg);
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease; }
      main .products .products-items .slide-image.swiper-slide-prev img {
        transform: rotate(-9.5deg);
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease; }
    main .products .products-items .swiper-slide-active img {
      margin-top: 0 !important;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }
  main .products .products-content {
    text-align: center; }
    main .products .products-content .slide-content {
      background: #FFFCFA; }
    main .products .products-content .swiper-slide-active h4 {
      animation-name: fadeInUpSD;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out; }
    main .products .products-content .swiper-slide-active p {
      animation-name: fadeInUpSD;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out; }
    main .products .products-content h4 {
      font-weight: 400;
      font-size: 36px;
      line-height: 60px;
      text-align: center;
      letter-spacing: -1px;
      color: #000000;
      margin: 0 0 15px 0; }
    main .products .products-content p {
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #7A7777; }

@-webkit-keyframes sliderMove {
  from {
    -webkit-transform: scale(1, 1);
    transform-origin: 50% 50%; }
  to {
    -webkit-transform: scale(1.8, 1.9);
    transform-origin: 50% 0%; } }
@keyframes sliderMove {
  from {
    transform: scale(1, 1);
    transform-origin: 50% 50%; }
  to {
    transform: scale(1.8, 1.9);
    transform-origin: 50% 0%; } }
.sliderMove {
  -webkit-animation-name: sliderMove;
  animation-name: sliderMove; }

@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD; }

@keyframes progress {
  0% {
    background-position: -148px 0px, 140px -148px, 148px 140px, 0px 148px; }
  25% {
    background-position: 0px 0px, 140px -148px, 148px 140px, 0px 148px; }
  50% {
    background-position: 0px 0px, 140px 0px, 148px 140px, 0px 148px; }
  75% {
    background-position: 0px 0px, 140px 0px, 0px 140px, 0px 148px; }
  100% {
    background-position: 0px 0px, 140px 0px, 0px 140px, 0px 0px; } }
/* MOBILE PORTRAIT to LANDSCAPE */
@media only screen and (min-width: 250px) and (max-width: 767px) {
  .cursor, .cursor2 {
    display: none; }

  header {
    margin: 0 !important;
    padding: 25px !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; }
    header ul li {
      display: block !important;
      margin-right: 0 !important; }
      header ul li a {
        font-size: 28px; }

  .hero_slider .progressBar {
    height: 123px !important;
    width: 123px !important;
    bottom: -6px !important;
    left: -5.5px !important; }
  .hero_slider .slider-content {
    margin-left: 25px !important; }
    .hero_slider .slider-content h3 {
      font-size: 14px !important;
      line-height: 130% !important; }
    .hero_slider .slider-content h2 {
      font-size: 46px !important;
      line-height: 100% !important; }
  .hero_slider .hero-image {
    height: 810px !important; }
  .hero_slider .slick-next {
    left: 25px !important;
    width: 115px !important;
    height: 115px !important;
    bottom: 60px !important;
    padding: 17px !important; }
    .hero_slider .slick-next span {
      font-size: 14px !important;
      line-height: 110% !important; }
    .hero_slider .slick-next .slick-thumb-nav {
      width: 80px !important;
      height: 80px !important; }

  .pagingInfo {
    left: 180px !important;
    bottom: 115px !important; }
    .pagingInfo .line {
      width: 100px !important; }

  .products {
    background: none !important; }
    .products .swiper-slide img {
      margin-top: 13px !important; }
    .products h1 {
      font-size: 30px !important;
      line-height: 133% !important;
      padding: 50px 0 24px 0 !important; }
    .products p {
      width: 312px !important;
      font-weight: 400 !important;
      font-size: 16px !important;
      line-height: 19px !important;
      padding-right: 25px !important;
      padding-left: 25px !important;
      padding-bottom: 40px !important; }

  .products-content h4 {
    font-weight: 500 !important;
    font-size: 24px !important;
    line-height: 40px !important;
    margin: 0 0 10px 0 !important; }
  .products-content p {
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 22px !important; }

  .menuBtn {
    height: 48px;
    width: 48px;
    position: relative;
    z-index: 101;
    background: #FFFCFA;
    display: block !important; }
    .menuBtn > span {
      background-color: #221F20;
      border-radius: 1px;
      height: 1px;
      width: 18px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: 0 0 0 -8px;
      transition: height 100ms; }
      .menuBtn > span:after, .menuBtn > span:before {
        content: '';
        background-color: #221F20;
        border-radius: 1px;
        height: 1px;
        width: 22px;
        position: absolute;
        left: 50%;
        margin-left: -11px;
        transition: all 200ms; }
      .menuBtn > span:after {
        top: -7px; }
      .menuBtn > span:before {
        bottom: -7px; }
    .menuBtn.act > span {
      height: 0; }
      .menuBtn.act > span:after, .menuBtn.act > span:before {
        background-color: #221F20;
        top: 1px; }
      .menuBtn.act > span:after {
        transform: rotate(45deg); }
      .menuBtn.act > span:before {
        transform: rotate(-45deg); }

  .mainMenu {
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: scale(0);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center; }
    .mainMenu.act {
      opacity: 1;
      transform: scale(1); }
      .mainMenu.act ul li {
        opacity: 1;
        transform: translateX(0); }
    .mainMenu ul {
      display: table-cell;
      vertical-align: middle; }
    .mainMenu li {
      padding: 8px 0;
      transition: all 400ms 510ms;
      opacity: 0; }
      .mainMenu li:nth-child(odd) {
        transform: translateX(30%); }
      .mainMenu li:nth-child(even) {
        transform: translateX(-30%); }
      .mainMenu li:last-child {
        transform: none; }
    .mainMenu a {
      display: block; }

  @keyframes progress {
    0% {
      background-position: -123px 0px, 115px -123px, 123px 115px, 0px 123px; }
    25% {
      background-position: 0px 0px, 115px -123px, 123px 115px, 0px 123px; }
    50% {
      background-position: 0px 0px, 115px 0px, 123px 115px, 0px 123px; }
    75% {
      background-position: 0px 0px, 115px 0px, 0px 115px, 0px 123px; }
    100% {
      background-position: 0px 0px, 115px 0px, 0px 115px, 0px 0px; } } }
/* MOBILE LANDSCAPE */
@media screen and (min-width: 250px) and (max-width: 767px) and (orientation: landscape) {
  .cursor, .cursor2 {
    display: none; } }
/* TABLETS PORTRAIT to LANDSCAPE */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cursor, .cursor2 {
    display: none; } }
/* TABLET LANDSCAPE SMALLER DESKTOP */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .cursor, .cursor2 {
    display: none; } }
/* TABLETS to MOBILE */
@media only screen and (max-width: 991px) {
  .cursor, .cursor2 {
    display: none; } }

/*# sourceMappingURL=home.css.map */
