/* ==========================================================================
  COMMON VARIABLES
  ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Work+Sans&display=swap");
.btn {
  padding: 10px 16px;
  font-size: 1rem;
  line-height: 1.0625rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  border: 1px solid #000;
  text-transform: initial;
  border-radius: 0;
  color: #221F20;
  background-color: #FFFCFA;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease 0s; }
  .btn:hover {
    color: #221F20; }
  .btn:focus {
    outline: 0;
    box-shadow: none; }

/* ==========================================================================
  Base Typography Styles
  ========================================================================== */
/* ==========================================================================
   Base Type
   ========================================================================== */
*::-moz-focus-inner {
  border: 0; }
*:focus, *:active, *:hover {
  outline: 0; }
  *:focus::-moz-focus-inner, *:active::-moz-focus-inner, *:hover::-moz-focus-inner {
    border: 0; }

html {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; }

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #7A7777;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 0;
  background-color: #FFFCFA; }
  body p {
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.5625rem;
    font-family: "Work Sans", sans-serif; }
    body p:last-of-type {
      margin-bottom: 0; }
    @media (max-width: 767px) {
      body p {
        font-size: 0.9375rem;
        line-height: 1.5625rem;
        letter-spacing: 0; } }

/* ==========================================================================
   Headings and paragraph
   ========================================================================== */
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-style: normal;
  font-family: "Work Sans", sans-serif;
  margin: 0; }

h1,
.h1 {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #EEF4F9;
  text-transform: capitalize; }
  @media (max-width: 991px) {
    h1,
    .h1 {
      font-size: 2.875rem;
      line-height: 2.875rem;
      font-weight: 400; } }
  @media (max-width: 375px) {
    h1,
    .h1 {
      font-size: 2.1875rem;
      line-height: 2.3125rem; } }

h2,
.h2 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #EEF4F9;
  margin: 0; }
  @media (max-width: 767px) {
    h2,
    .h2 {
      font-size: 0.875rem;
      line-height: 1.125rem; } }

h3,
.h3 {
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: 400;
  color: #000000;
  letter-spacing: -1px; }
  @media (max-width: 767px) {
    h3,
    .h3 {
      font-size: 1.875rem;
      line-height: 2.5rem; } }

/* Heading Typography */
h1,
h2,
h3,
p,
a,
span,
li {
  word-wrap: break-word;
  word-break: break-word; }

a {
  color: inherit;
  transition: 0.3s;
  text-decoration: inherit; }
  a:hover {
    color: #221F20;
    text-decoration: inherit; }

img {
  max-width: 100%; }

.hide {
  display: none; }

.hidden_class {
  display: none; }

.image-hidden {
  visibility: hidden; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  content: "";
  display: table; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }

[dir=rtl] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*# sourceMappingURL=slick.css.map */
header {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  background: #ffffff;
  z-index: 2;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px; }
  @media (max-width: 767px) {
    header {
      margin: 0;
      padding: 15px 24px 18px 27px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center; } }
  @media (max-width: 767px) {
    header .navbar {
      background-color: #fff;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 100;
      height: 100%;
      width: 100%;
      text-align: center;
      opacity: 0;
      transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transform: scale(0);
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center; } }
  header .navbar ul {
    display: flex;
    gap: 20px; }
    @media (max-width: 767px) {
      header .navbar ul {
        flex-direction: column;
        gap: 15px; } }
    @media (max-width: 767px) {
      header .navbar ul li {
        opacity: 0; } }
    header .navbar ul li a:hover:after,
    header .navbar ul li a:focus:after {
      width: 100%;
      left: 0; }
    header .navbar ul li a {
      color: #000000;
      position: relative; }
      header .navbar ul li a::after {
        content: "";
        width: 0;
        height: 1px;
        background: #000000;
        position: absolute;
        left: 50%;
        bottom: -5px;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease; }
    header .navbar ul li:last-child {
      margin-right: 0; }
  header .navbar.active {
    opacity: 1;
    transform: scale(1); }
    header .navbar.active ul li {
      opacity: 1;
      transform: translateX(0); }
  header .menu-btn {
    display: none; }
    @media (max-width: 767px) {
      header .menu-btn {
        height: 48px;
        width: 48px;
        position: relative;
        z-index: 101;
        background: #FFFCFA;
        display: block !important; }
        header .menu-btn > span {
          background-color: #221F20;
          border-radius: 1px;
          height: 1px;
          width: 18px;
          position: absolute;
          left: 50%;
          top: 50%;
          margin: 0 0 0 -8px;
          transition: height 100ms; }
          header .menu-btn > span:after, header .menu-btn > span:before {
            content: '';
            background-color: #221F20;
            border-radius: 1px;
            height: 1px;
            width: 22px;
            position: absolute;
            left: 50%;
            margin-left: -11px;
            transition: all 200ms; }
          header .menu-btn > span:after {
            top: -7px; }
          header .menu-btn > span:before {
            bottom: -7px; }
        header .menu-btn.active > span {
          height: 0; }
          header .menu-btn.active > span:after, header .menu-btn.active > span:before {
            background-color: #221F20;
            top: 1px; }
          header .menu-btn.active > span:after {
            transform: rotate(45deg); }
          header .menu-btn.active > span:before {
            transform: rotate(-45deg); } }
  header .btn {
    background: #FFFCFA; }
    header .btn .btn-arrow {
      background: url("/tenTwentyTest/assets/images/shape.svg") no-repeat center left;
      background-size: 100%;
      width: 18px;
      height: 14px;
      margin-right: 0;
      margin-left: 16px; }

/* ==========================================================================
  COMMON VARIABLES
  ========================================================================== */
main .banner-section {
  position: relative; }
  main .banner-section .banner-slider .slick-slide {
    overflow: hidden; }
  main .banner-section .banner-slider .slick-next {
    position: absolute;
    bottom: 67px;
    left: 135px;
    background: transparent;
    border: 1px solid rgba(238, 244, 249, 0.3);
    padding: 20px;
    width: 138px;
    height: 138px; }
    @media (max-width: 767px) {
      main .banner-section .banner-slider .slick-next {
        left: 25px;
        width: 115px;
        height: 115px;
        bottom: 60px;
        padding: 17px; } }
    main .banner-section .banner-slider .slick-next .next-slick-img {
      overflow: hidden; }
    main .banner-section .banner-slider .slick-next span {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
      right: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 110%;
      color: #EEF4F9;
      z-index: 9; }
      @media (max-width: 767px) {
        main .banner-section .banner-slider .slick-next span {
          font-size: 0.875rem;
          line-height: 0.9375rem; } }
    main .banner-section .banner-slider .slick-next .thumb {
      height: 100%;
      object-fit: cover; }
    main .banner-section .banner-slider .slick-next .slick-thumb-nav {
      width: 95px;
      height: 95px; }
      @media (max-width: 767px) {
        main .banner-section .banner-slider .slick-next .slick-thumb-nav {
          width: 80px;
          height: 80px; } }
  main .banner-section .banner-slider .progress-bar {
    height: 148px;
    width: 148px;
    position: absolute;
    z-index: 0;
    bottom: -6px;
    left: -5.5px;
    background: linear-gradient(to right, #EEF4F9 99.99%, transparent), linear-gradient(to bottom, #EEF4F9 99.99%, transparent), linear-gradient(to right, #EEF4F9 99.99%, transparent), linear-gradient(to bottom, #EEF4F9 99.99%, transparent);
    background-size: 100% 8px, 8px 100%, 100% 8px, 8px 100%;
    background-repeat: no-repeat;
    animation: progress 4s linear forwards;
    background-position: -148px 0px, 140px -148px, 148px 140px, 0px 148px; }
    @media (max-width: 767px) {
      main .banner-section .banner-slider .progress-bar {
        height: 123px;
        width: 123px;
        bottom: -6px;
        left: -5.5px; } }
  main .banner-section .banner-slider .hero-image {
    width: 100%;
    height: 100vh;
    object-fit: cover; }
    @media (max-width: 375px) {
      main .banner-section .banner-slider .hero-image {
        height: 80vh; } }
  main .banner-section .banner-slider .slider-content {
    position: absolute;
    bottom: 42%;
    margin-left: 135px;
    overflow: hidden; }
    @media (max-width: 767px) {
      main .banner-section .banner-slider .slider-content {
        margin-left: 25px;
        max-width: 400px; } }
    main .banner-section .banner-slider .slider-content h1 {
      margin-top: 24px; }
      @media (max-width: 767px) {
        main .banner-section .banner-slider .slider-content h1 {
          margin-top: 15px; } }
      main .banner-section .banner-slider .slider-content h1 span {
        display: block; }
        @media (max-width: 767px) {
          main .banner-section .banner-slider .slider-content h1 span {
            display: inline-block; } }
  main .banner-section .slider-pagination {
    position: absolute;
    bottom: 127px;
    color: #EEF4F9;
    left: 306px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 767px) {
      main .banner-section .slider-pagination {
        left: 180px;
        bottom: 115px; } }
    main .banner-section .slider-pagination span {
      font-weight: 400;
      font-size: 16px;
      line-height: 110%;
      color: #EEF4F9; }
    main .banner-section .slider-pagination .slideNumber {
      animation-name: fadeInUpSD;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      opacity: 1; }
    main .banner-section .slider-pagination .line {
      height: 1px;
      background: #EEF4F9;
      width: 103px;
      display: block;
      margin: 0 17px; }
      @media (max-width: 767px) {
        main .banner-section .slider-pagination .line {
          width: 100px; } }
  main .banner-section .slider-progress {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #ccc; }
  main .banner-section .progress-bar {
    width: 0;
    height: 100%;
    background-color: #007bff;
    transition: width 0.1s ease-in-out; }

.product-section {
  overflow: hidden;
  padding: 153px 0 150px; }
  @media (max-width: 767px) {
    .product-section {
      padding-top: 82px; } }
  .product-section .section-title {
    text-align: center;
    padding-bottom: 100px; }
    .product-section .section-title h3 {
      margin-bottom: 30px; }
    .product-section .section-title p {
      font-size: 1.5rem;
      max-width: 748px;
      margin: 0 auto; }
  .product-section .products-swiper .swiper {
    overflow: visible; }
  .product-section .products-swiper .swiper-slide.swiper-slide-active .product-content h3,
  .product-section .products-swiper .swiper-slide.swiper-slide-active .product-content p {
    opacity: 1;
    transform: translateY(0px); }
  .product-section .products-swiper .cursor {
    width: 60px;
    height: 60px;
    position: fixed;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
    transition: 0.05s opacity ease;
    z-index: 1;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 767px) {
      .product-section .products-swiper .cursor {
        display: none; } }
    .product-section .products-swiper .cursor span {
      color: #000000;
      font-size: 1.25rem; }
  .product-section .product-card {
    width: 100%;
    max-width: 434px;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 767px) {
      .product-section .product-card {
        max-width: 315px; } }
    @media (max-width: 568px) {
      .product-section .product-card {
        max-width: 290px; } }
    @media (max-width: 375px) {
      .product-section .product-card {
        max-width: 274px; } }
    .product-section .product-card .product-img {
      padding-top: 142%;
      position: relative; }
      .product-section .product-card .product-img img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        font-family: "object-fit: cover; object-position: center"; }
    .product-section .product-card .product-content {
      text-align: center;
      padding-top: 60px; }
      @media (max-width: 568px) {
        .product-section .product-card .product-content {
          padding-top: 48px; } }
      .product-section .product-card .product-content h3 {
        font-size: 2.25rem;
        line-height: 3.75rem;
        letter-spacing: -1px;
        margin-bottom: 20px; }
        @media (max-width: 767px) {
          .product-section .product-card .product-content h3 {
            font-size: 1.5rem;
            line-height: 2.5rem;
            font-weight: 500; } }
      .product-section .product-card .product-content p {
        transition-delay: 0.3s; }
      .product-section .product-card .product-content h3,
      .product-section .product-card .product-content p {
        opacity: 0;
        transform: translateY(20px);
        transition: var(--animation-duration) all ease; }

@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD; }

@keyframes progress {
  0% {
    background-position: -148px 0px, 140px -148px, 148px 140px, 0px 148px; }
  25% {
    background-position: 0px 0px, 140px -148px, 148px 140px, 0px 148px; }
  50% {
    background-position: 0px 0px, 140px 0px, 148px 140px, 0px 148px; }
  75% {
    background-position: 0px 0px, 140px 0px, 0px 140px, 0px 148px; }
  100% {
    background-position: 0px 0px, 140px 0px, 0px 140px, 0px 0px; } }
/* MOBILE PORTRAIT to LANDSCAPE */
@media only screen and (min-width: 250px) and (max-width: 767px) {
  @keyframes progress {
    0% {
      background-position: -123px 0px, 115px -123px, 123px 115px, 0px 123px; }
    25% {
      background-position: 0px 0px, 115px -123px, 123px 115px, 0px 123px; }
    50% {
      background-position: 0px 0px, 115px 0px, 123px 115px, 0px 123px; }
    75% {
      background-position: 0px 0px, 115px 0px, 0px 115px, 0px 123px; }
    100% {
      background-position: 0px 0px, 115px 0px, 0px 115px, 0px 0px; } } }
